<div class="mb-2">
  <textarea class="form-control" type="text" name="{{ selector }}" id="field-{{ selector }}" placeholder="{{ placeholder | default: label }}" rows="{{ rows | default : 4 }}">{{ value }}</textarea>
</div>