{% assign cacheId = 1 %}
<!doctype html>
<html lang="{{ language | default: 'en'}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/media/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" type="image/x-icon"/>
    <title>KohanaJS</title>
    <script type="application/javascript" src="/media/js/lib/vh.js"></script>

    <link rel="stylesheet" href="/media/css/preload.css?r={{ cacheId }}" />
    <link rel="stylesheet" href="/media/vendors/fontawesome/css/all.min.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="/media/css/bootstrap.css?r={{ cacheId }}" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="/media/css/site.css?r={{ cacheId }}" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="/media/css/bootstrap-utils.css?r={{ cacheId }}" media="print" onload="this.media='all'" />
    {% for css in stylesheets %}    <link rel="stylesheet" href="/media/css/{{ css }}?r={{ cacheId }}"  media="print" onload="this.media='all'"/>
    {% endfor %}

    {% for script in external_scripts %}    <script type="application/javascript" src="{{ script }}" async ></script>
    {% endfor %}

    {% for script in defer_scripts %}    <script type="application/javascript" src="/media/js/{{ script }}?r={{ cacheId }}" defer></script>
    {% endfor %}

</head>
<body class="{{ controller }} {{ controller }}-{{ action }}">
<header></header>
<main>
    {{ main }}
</main>
<footer></footer>

<script type="application/javascript" src="/media/js/lib/cookie-consent.js"></script>
<script type="application/javascript" src="/media/vendors/bootstrap/js/bootstrap.min.js" defer></script>
{% for script in scripts %}    <script type="application/javascript" src="/media/js/{{ script }}?r={{ cacheId }}" ></script>
{% endfor %}
<script type="application/javascript" src="/media/js/lib/lazyload.js" defer></script>
</body>
</html>
