@import "variables";
@import "../vendors/node_modules/bootstrap/scss/root";
@import "../vendors/node_modules/bootstrap/scss/reboot";
@import "../vendors/node_modules/bootstrap/scss/type";
@import "../vendors/node_modules/bootstrap/scss/containers";
@import "../vendors/node_modules/bootstrap/scss/grid";
@import "./bootstrap-extend/smart-rem";

body{
  margin:0;
  overflow-x: hidden;
}

.lazy{
  background-image: url("/media/images/icons/preload.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 3rem auto !important;
}