<div class="input-group mb-2">
  <span class="form-control p-0">
  <label for="{{ selector }}" class="fs-50 lh-1 bg-white" style="position: absolute; padding: 0 0.70rem; margin-top: -0.6em;">{{ label }}</label>
  <input class="form-control border-0 page-field-upload-text" style="font-size:0.75rem;" type="text" name="{{ selector }}" value="{{ value }}" id="field-{{ selector }}" placeholder="{{ placeholder | default: label }}"/>
  </span>
</div>