@import "../variables";
@import "../../vendors/node_modules/bootstrap/scss/mixins";
@import "../../vendors/node_modules/bootstrap/scss/utilities";

#language-selector{
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  a{
    color:inherit;
    text-decoration: none;
    padding: 0.2em 0.5em;

    &:hover{
      text-decoration: underline;
    }
  }

  .active{
    display: flex;
    border-radius: 3em;
    background: #d0d0d0;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    padding-top: .2em;
  }

  .options{
    display: none;
    margin-top: 0.2em;

    a[data-language="en"]{
      font-size: 0.75em;
    }
  }

  &:hover{
    .options{
      display:block;
    }
  }
}